.live-left-right {
  display: grid;
  grid-template-rows: 5em 1fr;
  height: 100%;

  .score {
    display: grid;
    align-items: center;
  }

  .court {
    display: grid;
  }
}

.live-up-down {
  display: grid;
  grid-template-columns: 5fr 1fr;
  height: 100%;

  .court {
    display: grid;
  }

  .score {
    display: grid;
  }
}
