.live-left-right {
  display: grid;
  row-gap: 1em;
  padding-top: 1em;
}

.court {
  display: grid;
  justify-content: center;
}

.live-up-down {
  display: grid;
  grid-template-columns: 5fr 1fr;
  padding-top: 1em;
}
