@if(justPlayedPoint$ | async; as justPlayedPoint) { @if(justPlayedPoint) {

<div class="action-area">
  <div class="score-area">
    <div>
      <button matFab normal (click)="addPointLeftPair()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="score">{{justPlayedPoint.pointLeftPair}}</div>
  </div>
  <div class="score-area">
    <div class="score">{{justPlayedPoint.pointRightPair}}</div>
    <div>
      <button matFab normal (click)="addPointRightPair()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>

<court [point]="justPlayedPoint" [isLiveMode]="true"></court> } }
