@if(justPlayedPoint$ | async; as justPlayedPoint) { @if(justPlayedPoint) {

<div class="action-area">
  <div class="score-area">
    <div>
      <button matFab normal (click)="addPointTeamLeft()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="score">{{justPlayedPoint.pointTeamLeft}}</div>
  </div>
  <div class="score-area">
    <div class="score">{{justPlayedPoint.pointTeamRight}}</div>
    <div>
      <button matFab normal (click)="addPointTeamRight()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>

<court [justPlayedPoint]="justPlayedPoint"></court>
} }
