<div class="welcome-panel">
  <h2>Bienvenue sur Winabad</h2>
  <p>
    Bonjour et bienvenue sur Winabad, le concours de pronostics organisé par le
    club d'Istres Sports Badminton pour son tournoi annuel.
  </p>

  <p>
    Le jeu consiste à trouver le vainqueur et le finaliste de chaque série (ou
    le premier et le deuxième des poules uniques).
  </p>

  <p>
    Les pronostics portent sur les doubles hommes et dames le samedi 8 ; sur les
    doubles mixtes le dimanche 9. En cas d'égalité, un pronostic bonus portant
    sur le temps du match le plus long de la journée sera pris en compte.
  </p>

  <p>Nous allons vous expliquer comment saisir vos pronostics.</p>

  <button mat-flat-button color="primary" (click)="close()">
    Commencer le tutoriel
  </button>
</div>
