<div class="welcome-panel animation">
  <h2>Bienvenue sur Winabad</h2>
  <p>
    Bonjour ami badiste et bienvenue sur Winabad, le concours de pronostics
    concocté pour pimenter ce 10&egrave;me Tournoi National d'Istres. On te
    remercie pour ta participation et on t'explique tout ici.
  </p>

  <p>
    Il faut trouver le vainqueur et le finaliste de chaque série en se basant
    sur un barème, disponible près de la table de marque.
  </p>

  <p>
    Au programme du week-end, doubles hommes et dames le samedi 8, doubles
    mixtes le dimanche 9.
  </p>

  <p>
    Avant de te montrer comment saisir tes pronostics, le club remercie la
    société Phocea Light pour sa contribution à la réalisation de ce concours.
  </p>

  <div class="action">
    <button mat-flat-button color="primary" (click)="close()">
      Commencer le tutoriel
    </button>
  </div>
</div>
