<div class="welcome-panel">
  <h2>Bienvenue sur Winabad</h2>
  <p>
    Bonjour et bienvenue sur Winabad, le concours de pronostics organisé par le
    club d'Istres Sports Badminton pour son tournoi annuel. Nous vous remercions
    pour votre participation à ce jeu.
  </p>

  <p>
    Vous devez trouver le vainqueur et le finaliste de chaque série (ou le
    premier et le deuxième des poules uniques). Un barème permettra de vous
    attribuer des points. Le pronostic sur la durée du match le plus long de la
    journée permettra de départager, le cas échéant, les égalités.
  </p>

  <p>
    Au programme du week-end, doubles hommes et dames le samedi 8, doubles
    mixtes le dimanche 9.
  </p>

  <p>Nous allons vous expliquer comment saisir vos pronostics.</p>

  <div class="action">
    <button mat-flat-button color="primary" (click)="close()">
      Commencer le tutoriel
    </button>
  </div>
</div>
