.welcome-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 0 2em;

  p {
    text-align: justify;
  }

  h2 {
    text-align: center;
  }
}

.action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2em;
}

.centered {
  display: flex;
  justify-content: center;
}
