<div class="court">
  <table class="court-up-down">
    <tbody>
      <tr>
        <td class="p1">&nbsp;</td>
        <td class="p2">&nbsp;</td>
        <td class="p3">&nbsp;</td>
        <td class="p4">&nbsp;</td>
      </tr>
      <tr>
        <td class="p5">&nbsp;</td>
        <td [class]="getClassUpDown('p6', point, 2)">
          {{getPlayerName(point, 2)}}
        </td>
        <td [class]="getClassUpDown('p7', point, 1)">
          {{getPlayerName(point, 1)}}
        </td>
        <td class="p8">&nbsp;</td>
      </tr>

      <tr>
        <td class="p9">&nbsp;</td>
        <td class="p10">&nbsp;</td>
        <td class="p11">&nbsp;</td>
        <td class="p12">&nbsp;</td>
      </tr>

      <tr>
        <td class="p13">&nbsp;</td>
        <td class="p14">&nbsp;</td>
        <td class="p15">&nbsp;</td>
        <td class="p16">&nbsp;</td>
      </tr>

      <tr>
        <td class="p17">&nbsp;</td>
        <td [class]="getClassUpDown('p18', point, 4)">
          {{getPlayerName(point, 4)}}
        </td>
        <td [class]="getClassUpDown('p19', point, 3)">
          {{getPlayerName(point, 3)}}
        </td>
        <td class="p20">&nbsp;</td>
      </tr>

      <tr>
        <td class="p21">&nbsp;</td>
        <td class="p22">&nbsp;</td>
        <td class="p23">&nbsp;</td>
        <td class="p24">&nbsp;</td>
      </tr>
    </tbody>
  </table>
</div>
