.court {
  display: grid;

  height: 100%;

  justify-items: center;
  align-items: center;

  background: url("../../../assets/img/background/net_up_down.png") no-repeat
    50% 50%;
}

td {
  text-align: center;
}

.court-up-down {
  --length: 13400px;
  --width: 6100px;

  width: 305px;
  height: 670px;
  border-collapse: collapse;
  border: 2px solid white;
  table-layout: fixed;

  .p1,
  .p4,
  .p5,
  .p8,
  .p9,
  .p12,
  .p13,
  .p16,
  .p17,
  .p20,
  .p21,
  .p24 {
    // width: calc(420px / var(--width) * 100%);
    width: 6.88%;
  }

  .p2,
  .p3,
  .p6,
  .p7,
  .p10,
  .p11,
  .p14,
  .p15,
  .p18,
  .p19,
  .p22,
  .p23 {
    // width: calc(2530px / var(--width) * 100%);
    width: 41.47%;
  }

  .p1,
  .p2,
  .p3,
  .p4,
  .p21,
  .p22,
  .p23,
  .p24 {
    // height: calc(720px / var(--length) * 100%);
    height: 5.37%;
  }

  .p5,
  .p6,
  .p7,
  .p8,
  .p17,
  .p18,
  .p19,
  .p20 {
    //height: calc(3880px / var(--length) * 100%);
    height: 28.95%;
  }

  .p9,
  .p10,
  .p11,
  .p12,
  .p13,
  .p14,
  .p15,
  .p16 {
    // height: calc(1980px / var(--length) * 100%);
    height: 14.77%;
  }

  .p1,
  .p2,
  .p3,
  .p4,
  .p5,
  .p6,
  .p7,
  .p8,
  .p13,
  .p14,
  .p15,
  .p16,
  .p17,
  .p18,
  .p19,
  .p20 {
    border-bottom: 2px solid white;
  }

  .p2,
  .p3,
  .p4,
  .p6,
  .p7,
  .p8,
  .p10,
  .p12,
  .p14,
  .p16,
  .p18,
  .p19,
  .p20,
  .p22,
  .p23,
  .p24 {
    border-left: 2px solid white;
  }
}

.server {
  background-color: var(--server-background-color);
}
