/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-drawer-container {
  // #d176ff
  background-position: bottom right;
  background-repeat: no-repeat;
  // background-image: url("~/assets/img/background.png"),
  //   linear-gradient(#6caddf, #f28e16);
  background-image: url("~/assets/img/background.png"),
    linear-gradient(
      150deg,
      #fcc916,
      #f28e16,
      #c5e6f7,
      #6caee0,
      #b0d6b1,
      #8abb8c
    );

  // background-color: #fcc916;
}

.mat-toolbar {
  background-color: transparent;
  color: black;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animation {
  animation: fadeIn 0.75s;
}
