/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-drawer-container {
  // #d176ff
  background-position: bottom right;
  background-repeat: no-repeat;
  background-image: url("~/assets/img/background.png"),
    linear-gradient(#6caddf, #fcc916);
  // background-image: url("~/assets/img/background.png");
  // background-color: #fcc916;
  // background-color: #c4e6f7;
}

.mat-toolbar {
  // background-color: #3f2f7d;
  background-color: transparent;
  color: white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animation {
  animation: fadeIn 0.75s;
}
