/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

hr {
  margin: 0;
  align-self: stretch;
}

.light-mode {
  .mat-drawer-container {
    background-position: bottom right;
    background-repeat: no-repeat;
    background-image: url("~/assets/img/background.png"),
      linear-gradient(
        150deg,
        #fcc916,
        #f28e16,
        #c5e6f7,
        #6caee0,
        #b0d6b1,
        #8abb8c
      );
  }

  .mat-toolbar {
    background-color: transparent;
    color: black;
  }

  .mat-mdc-table {
    background: none;
  }

  .card {
    background-color: rgba(255, 255, 255, 0.7);
  }

  .login-card,
  .create-better-card {
    background-color: white;
    border-color: #dadce0;
    border-width: 0.125em;
    border-style: solid;

    border-radius: 0.5em;
  }

  .sponsor {
    color: white;
    background-color: black;
  }
}

.dark-mode {
  $color: #bcc0c3;
  $background: #212529;

  .mat-drawer-container {
    background-position: bottom right;
    background-repeat: no-repeat;
    background-image: url("~/assets/img/background-dark.png");
    background-color: $background;
    color: $color;
  }

  .mat-mdc-table {
    background: none;
  }

  .mat-mdc-table .mat-mdc-header-cell,
  .mdc-data-table__cell {
    color: $color;
  }

  .card {
    background-color: #2a2e32;
  }

  .logo-color {
    fill: $color;
  }

  .sponsor {
    color: $background;
    background-color: $color;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animation {
  animation: fadeIn 0.75s;
}
