@use "@angular/material" as mat;

.page {
  background-color: light-dark(#ccc, #23232c);
}

.mat-mdc-unelevated-button:not(:disabled) {
  background-color: light-dark(#555, #2d2e40);
}

.mdc-switch--selected .mdc-switch__track::after {
  background-color: light-dark(#555, #2d2e40);
}
