@import "@angular/material/theming";

@include mat-core();

$md-palette-isb: (
  50: #e8e6ef,
  100: #c5c1d8,
  200: #9f97be,
  300: #796da4,
  400: #5c4e91,
  500: #3f2f7d,
  600: #392a75,
  700: #31236a,
  800: #291d60,
  900: #1b124d,
  A100: #9787ff,
  A200: #6b54ff,
  A400: #3e21ff,
  A700: #2808ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$md-palette-burgundy: (
  50: #f4e3e4,
  100: #e3babb,
  200: #d18c8e,
  300: #be5d60,
  400: #b03b3e,
  500: #a2181c,
  600: #9a1519,
  700: #901114,
  800: #860e11,
  900: #750809,
  A100: #ffa5a6,
  A200: #ff7273,
  A400: #ff3f41,
  A700: #ff2528,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$md-palette-blue: (
  50: #e9ecfa,
  100: #c9cef2,
  200: #a5aeea,
  300: #818ee2,
  400: #6675db,
  500: #4b5dd5,
  600: #4455d0,
  700: #3b4bca,
  800: #3341c4,
  900: #2330ba,
  A100: #f6f6ff,
  A200: #c3c7ff,
  A400: #9098ff,
  A700: #7680ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-palette-dark-grey: (
  50: #e4e4e4,
  100: #bdbdbd,
  200: #919191,
  300: #646464,
  400: #434343,
  500: #222222,
  600: #1e1e1e,
  700: #191919,
  800: #141414,
  900: #0c0c0c,
  A100: #e76c6c,
  A200: #e04040,
  A400: #ec0000,
  A700: #d30000,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$md-palette-white: (
  50: #fdf1e3,
  100: #fbddb9,
  200: #f9c78b,
  300: #f6b05c,
  400: #f49f39,
  500: #f28e16,
  600: #f08613,
  700: #ee7b10,
  800: #ec710c,
  900: #e85f06,
  A100: #ffffff,
  A200: #ffe9dd,
  A400: #ffc7aa,
  A700: #ffb691,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$isb-primary: mat-palette($md-palette-isb, 500);
$isb-accent: mat-palette($md-palette-isb, A200, A100, A400);
$isb-warn: mat-palette($md-palette-isb);
$isb-mode: mat-light-theme($isb-primary, $isb-accent, $isb-warn);

$burgundy-primary: mat-palette($md-palette-burgundy, 100);
$burgundy-accent: mat-palette($md-palette-burgundy, A200, A100, A400);
$burgundy-warn: mat-palette($md-palette-burgundy);
$burgundy-mode: mat-light-theme(
  $burgundy-primary,
  $burgundy-accent,
  $burgundy-warn
);

$blue-primary: mat-palette($md-palette-blue, 300);
$blue-accent: mat-palette($md-palette-blue, A400);
$blue-warn: mat-palette($md-palette-blue, A200);
$blue-mode: mat-light-theme($blue-primary, $blue-accent, $blue-warn);

$dark-grey-primary: mat-palette($md-palette-dark-grey, 100);
$dark-grey-accent: mat-palette($md-palette-dark-grey, A400);
$dark-grey-warn: mat-palette($md-palette-dark-grey, A200);
$dark-grey-mode: mat-dark-theme(
  $dark-grey-primary,
  $dark-grey-accent,
  $dark-grey-warn
);

$white-primary: mat-palette($md-palette-white, 500);
$white-accent: mat-palette($md-palette-white, A200, A100, A400);
$white-warn: mat-palette($md-palette-white);
$white-mode: mat-light-theme($white-primary, $white-accent, $white-warn);

.isb-mode {
  @include angular-material-theme($isb-mode);
}

.burgundy-mode {
  @include angular-material-theme($burgundy-mode);
}

.blue-mode {
  @include angular-material-theme($blue-mode);
}

.dark-grey-mode {
  @include angular-material-theme($dark-grey-mode);
}

.white-mode {
  @include angular-material-theme($white-mode);
}
