@use "@angular/material" as mat;
@use "src/app/styles/variables.css";

.mat-mdc-unelevated-button:not(:disabled) {
  background-color: light-dark(#555, var(--card-background-color));
}

.mdc-switch--selected .mdc-switch__track::after {
  background-color: light-dark(#555, var(--card-background-color));
}

:root {
  @include mat.tabs-overrides(
    (
      active-focus-indicator-color: var(--mat-sys-primary),
      active-focus-label-text-color: #efefef,
      active-indicator-color: var(--mat-sys-primary),
      active-label-text-color: #efefef,
    )
  );

  @include mat.select-overrides(());

  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent;
  }
}
