.setting-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 3em;
}

.setting {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 4em;
  height: 3em;

  .label {
    font-size: 0.75em;
  }
}

.menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3em;
  margin-inline: 1em;

  .active {
    text-decoration: underline;
  }
}

.indicator {
  width: 0.5em;
  height: 0.5em;
}

.indicator.active {
  border-radius: 50%;
}
