<div
  class="x-moving"
  [style.animationPlayState]="animationPlayState"
  [style.left]="circleLeft"
>
  <div
    class="y-moving"
    [style.animationPlayState]="animationPlayState"
    [style.top]="circleTop"
  >
    <span
      class="circle xxlarge shade1"
      [style.animationPlayState]="animationPlayState"
    ></span>
    <span
      class="circle xlarge shade2"
      [style.animationPlayState]="animationPlayState"
    ></span>
    <span
      class="circle large shade3"
      [style.animationPlayState]="animationPlayState"
    ></span>
    <span
      class="circle medium shade4"
      [style.animationPlayState]="animationPlayState"
    ></span>
    <span
      class="circle small shade5"
      [style.animationPlayState]="animationPlayState"
    ></span>
  </div>
</div>
