.contest-panel {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5em;
}

.contest-card {
  display: flex;
  flex-direction: column;
  margin-right: 0.5em;
  padding: 0 0.5em 0.5em 0.5em;
}

.contest:last-child {
  margin-right: 0;
}

.category {
  display: flex;
  flex-direction: row;
}

.label {
  width: 100%;
  margin-bottom: 0.5em;
}

.mat-button.mat-small {
  min-width: 1%;
}

.complete,
.uncomplete {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.6em;
  width: 1.6em;
  color: rgb(33, 33, 33);
  margin-right: 0.2em;
  border-radius: 0.5em;
  border-width: 0.125em;
  border-style: solid;
}

.complete:last-child,
.uncomplete:last-child {
  margin-right: 0;
}

.complete {
  background-color: #b0d6b1;
  border-color: #b0d6b1;
}

.uncomplete {
  background-color: #adadad;
  border-color: #adadad;
}

.complete-selected {
  background-color: #89bb8c;
  border-color: #b0d6b1;
  color: white;
}

.uncomplete-selected {
  background-color: #878787;
  color: white;
}

.header {
  background-color: #aac972;
}
