<div *ngFor="let contest of contests$ | async" class="contest-panel">
  <span class="contest-label">{{ contest.shortName }}</span>
  <span
    *ngFor="let category of contest.categories"
    (click)="changeCategory(category.id)"
    [class]="getCategoryClass(category)"
  >
    {{ category.shortName }}
  </span>
</div>

<!-- <mat-chip-listbox>
  <div *ngFor="let contest of contests$ | async" class="contest-panel">
    <span class="contest-label">{{ contest.shortName }}</span>
    <span>
      <mat-chip
        *ngFor="let category of contest.categories"
        (click)="changeCategory(category.id)"
        color="primary"
        [highlighted]="category.id === (category$ | async)?.id"
        class="category"
      >
        {{ category.shortName }}
      </mat-chip>
    </span>
  </div>
</mat-chip-listbox> -->
