.contest-panel {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.contest-label {
  margin-left: 8px;
  font-weight: bold;
}

.category {
  font-size: 0.75em;
}

.mat-button.mat-small {
  min-width: 1%;
}

.complete,
.uncomplete {
  display: flex;
  align-items: center;
  height: 32px;
  color: rgb(33, 33, 33);
  padding-left: 12px;
  padding-right: 12px;
  margin: 4px 0 4px 8px;
  border-radius: 16px;
  border-width: 2px;
  border-style: solid;
}

.complete {
  background-color: #aac972;
  border-color: #aac972;
}

.uncomplete {
  background-color: #878787;
  border-color: #878787;
}

.complete-selected {
  border-color: #809656;
  color: white;
}

.uncomplete-selected {
  border-color: #adadad;
  color: white;
}
