<div class="court-area">
  <div class="area1 player">
    {{getPlayerName(justPlayedPoint.playerPositionLeftPair.playerLeft)}}
  </div>
  <div class="area2 player">
    {{getPlayerName(justPlayedPoint.playerPositionLeftPair.playerRight)}}
  </div>

  <div class="area3 arrow-area">
    <mat-icon [fontIcon]="getArrow(justPlayedPoint)" class="arrow"></mat-icon>
  </div>

  <div class="area4 player">
    {{getPlayerName(justPlayedPoint.playerPositionRightPair.playerRight)}}
  </div>
  <div class="area5 player">
    {{getPlayerName(justPlayedPoint.playerPositionRightPair.playerLeft)}}
  </div>
</div>
