@use "src/app/styles/variables.css";

.court {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  height: 100%;

  div {
    display: grid;
    justify-items: center;
    align-items: center;
  }
}

td {
  text-align: center;
}

.court-left-right {
  width: 500px;
  height: 227px;
  border-collapse: collapse;
  border: 1px solid white;
  table-layout: fixed;

  .nw,
  .ne,
  .sw,
  .se {
    width: 35.25%;
  }

  .nw,
  .ne {
    border-bottom: 1px solid white;
  }

  .sw,
  .se {
    border-top: 1px solid white;
  }

  .cl,
  .cr {
    width: 14.75%;
    border-spacing: 0;
  }

  .cl {
    border-left: 1px solid white;
    border-right: 1px dashed white;
  }

  .cr {
    border-left: 1px dashed white;
    border-right: 1px solid white;
  }
}

.court-up-down {
  width: 227px;
  height: 500px;
  border-collapse: collapse;
  border: 1px solid white;
  table-layout: fixed;

  .nw,
  .ne,
  .sw,
  .se {
    height: 35.25%;
  }

  .nw,
  .sw {
    border-right: 1px solid white;
  }

  .ne,
  .sw {
    border-left: 1px solid white;
  }

  .ul,
  .ur,
  .dl,
  .dr {
    height: 14.75%;
    border-spacing: 0;
  }

  .ul,
  .ur {
    border-top: 1px solid white;
    border-bottom: 1px dashed white;
  }

  .dl,
  .dr {
    border-top: 1px dashed white;
    border-bottom: 1px solid white;
  }
}

.server {
  background-color: var(--server-background-color);
}
