.court-area {
  display: grid;
  grid-template-areas:
    "area1 area3 area4"
    "area2 area3 area5";
}

.player {
  display: grid;
  font-size: 1.5em;
  justify-content: center;
  align-items: center;
  min-width: 14em;
}

.big {
  height: 10em;
}

.server,
.receiver {
  font-weight: bold;
}

.area1 {
  grid-area: area1;
}

.area2 {
  grid-area: area2;
}

.area3 {
  grid-area: area3;
}

.area4 {
  grid-area: area4;
}

.area5 {
  grid-area: area5;
}

.arrow-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
