<h2 mat-dialog-title>Choisir un avatar</h2>
<mat-dialog-content style="height: calc(100% - 6em)">
  <!-- Univers -->
  <mat-form-field>
    <mat-label>Univers</mat-label>
    <mat-select
      (selectionChange)="changeUniverse($event)"
      [value]="universe?.id || 0"
    >
      <mat-option
        *ngFor="let universe of universeAvatar.universes"
        [value]="universe.id"
      >
        {{ universe.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <span class="avatar-panel">
    <span
      class="avatar"
      [class]="{ selected: avatar.id === selectedAvatar?.id || 0 }"
      *ngFor="let avatar of filteredAvatars"
      (click)="setAvatar(avatar)"
    >
      <img [src]="getAvatarSource(avatar)" [alt]="avatar.name" />
      <span>{{ avatar.name }}</span>
    </span>
  </span>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button (click)="cancel()" cdkFocusInitial>Annuler</button>
  <button mat-raised-button (click)="validate()">Valider</button>
</mat-dialog-actions>
