.rule-panel {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.rule {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 0 0.5em;

  mat-table {
    background-color: transparent;
  }

  .center {
    text-align: center;
  }
}

.grow {
  width: 100%;
}
