<div class="rule-panel animation">
  <titlebar title="Barème des points"></titlebar>
  <div class="rule">
    <h3>Barème des points</h3>

    <p>Le calcul des points par série suit les règles suivantes :</p>

    <mat-table [dataSource]="rules">
      <ng-container matColumnDef="points">
        <tr class="header">
          <th mat-header-cell *matHeaderCellDef>Points</th>
        </tr>
        <td mat-cell *matCellDef="let rule">
          {{ rule.points }}
        </td>
      </ng-container>

      <ng-container matColumnDef="conditions">
        <tr class="header">
          <th mat-header-cell *matHeaderCellDef class="grow">Conditions</th>
        </tr>
        <td mat-cell *matCellDef="let rule">
          {{ rule.condition }}
        </td>
      </ng-container>

      <div>
        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </div>
    </mat-table>

    <h3>Classement et égalité</h3>

    <p>
      Le cumul des points marqués pour chaque série de la journée permet
      d'établir un classement général entre les joueurs. Dans le cas où
      plusieurs d'entre eux seraient ex-aequo, le pronostic sur la durée du
      match le plus long de la journée permettra de les départager.
    </p>
  </div>
</div>
