@if(categories$ | async; as categories) {
<div class="selection">
  <div>
    <mat-form-field>
      <mat-label>Séries</mat-label>
      <mat-select
        [(ngModel)]="currentCategory"
        (selectionChange)="onSelectionChangeCategory()"
      >
        @for (category of categories; track category) {
        <mat-option [value]="category"
          >{{category.contestShortName}} - {{category.shortName}}</mat-option
        >
        }
      </mat-select>
    </mat-form-field>
  </div>

  <div class="players">
    @if(pairs$ | async; as pairs) {
    <mat-form-field>
      <mat-label>Paire 1</mat-label>
      <mat-select [(ngModel)]="leftPair">
        @for (pair of pairs; track pair) {
        <mat-option [value]="pair"
          >{{pair.playerName1}} - {{pair.playerName2}}</mat-option
        >
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Paire 2</mat-label>
      <mat-select [(ngModel)]="rightPair">
        @for (pair of pairs; track pair) {
        <mat-option [value]="pair"
          >{{pair.playerName1}} - {{pair.playerName2}}</mat-option
        >
        }
      </mat-select>
    </mat-form-field>
    }
  </div>

  <div class="launch">
    <button matButton="filled" (click)="launch()">Lancer le match</button>
  </div>
</div>

}
