.selection {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.players {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1em;
}

.launch {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.5em;
  justify-content: center;
  align-items: center;
}
