@if(firstSet$ | async; as firstSet) { @if(isSetHasPoint(firstSet)) {
<mat-tab-group
  mat-stretch-tabs="false"
  mat-align-tabs="start"
  [selectedIndex]="selectedIndex"
>
  <mat-tab label="Premier set"><points [set$]="firstSet$"></points></mat-tab>

  @if(secondSet$ | async; as secondSet) { @if(isSetHasPoint(secondSet)) {
  <mat-tab label="Deuxième set"><points [set$]="secondSet$"></points></mat-tab>

  @if(thirdSet$ | async; as thirdSet) { @if(isSetHasPoint(thirdSet)) {
  <mat-tab label="Troisième set"><points [set$]="thirdSet$"></points></mat-tab>
  } } } }
</mat-tab-group>
} }
