@if(firstSet$ | async; as firstSet) { @if(isSetHasPoint(firstSet)) {
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab label="Premier set"><point [set$]="firstSet$"></point></mat-tab>

  @if(secondSet$ | async; as secondSet) { @if(isSetHasPoint(secondSet)) {
  <mat-tab label="Deuxième set"><point [set$]="secondSet$"></point></mat-tab>

  @if(thirdSet$ | async; as thirdSet) { @if(isSetHasPoint(thirdSet)) {
  <mat-tab label="Troisième set"><point [set$]="thirdSet$"></point></mat-tab>
  } } } }
</mat-tab-group>
} }
