.ranking-panel,
.review-of-panel {
  display: flex;
  height: calc(100vh - 54px);
}

.ranking {
  padding: 0 0 0 0.25em;
  width: 1em;
  text-align: center;
}

.review-of-row {
  margin-bottom: 1em;
}
