.ranking-panel,
.review-of-panel {
  display: flex;
  height: calc((var(--vh, 1vh) * 100) - 54px);
}

.ranking {
  padding: 0 0 0 0.25em;
  width: 1em;
  text-align: center;
}

.title {
  font-weight: bold;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.timer-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 4em;
}
