.ranking-panel,
.review-of-panel {
  display: flex;
}

.ranking-panel.compact-mode,
.review-of-panel.compact-mode {
  height: var(--expand-height-compact);
}

.ranking-panel.normal-mode,
.review-of-panel.normal-mode {
  height: var(--expand-height-normal);
}

.ranking {
  padding: 0 0 0 0.25em;
  width: 1em;
  text-align: center;
}

.title {
  font-weight: bold;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.timer-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 4em;
}
