<div class="page">
  <div class="selection">
    <selection></selection>
  </div>
  <div class="content">
    @if (isMatchLaunched) {
      <div class="view">
        <live [hidden]="isHidden(0)" />
        <points [hidden]="isHidden(1)" [set$]="firstSet$" />
        <points [hidden]="isHidden(2)" [set$]="secondSet$" />
        <points [hidden]="isHidden(3)" [set$]="thirdSet$" />
      </div>

      <div class="navigation">
        <div
          class="material-symbols-outlined item"
          [class.is-active]="isActive(0)"
          (click)="goToView(0)"
        >
          live_tv
        </div>
        <div
          class="material-symbols-outlined item"
          [class.is-active]="isActive(1)"
          (click)="goToView(1)"
        >
          counter_1
        </div>

        @if (secondSet$ | async; as secondSet) {
          <div
            class="material-symbols-outlined item"
            [class.is-active]="isActive(2)"
            (click)="goToView(2)"
          >
            counter_2
          </div>
        } @else {
          <div class="material-symbols-outlined item disabled">counter_2</div>
        }
        @if (thirdSet$ | async; as thirdSet) {
          <div
            class="material-symbols-outlined item"
            [class.is-active]="isActive(3)"
            (click)="goToView(3)"
          >
            counter_3
          </div>
        } @else {
          <div class="material-symbols-outlined item disabled">counter_3</div>
        }
        <div
          class="material-symbols-outlined item"
          (click)="onChangeCourtMode()"
        >
          autorenew
        </div>
      </div>
    } @else {
      <div class="wait"></div>
    }
  </div>
</div>
