.menu {
  margin-right: 1em;
}

.sidenav {
  display: flex;
  flex-direction: column;
  margin-inline: 3em;
  padding-top: 3em;

  .link {
    margin-bottom: 2em;
  }

  .close {
    width: 100%;
    text-align: right;
  }

  .icon {
    vertical-align: middle;
    margin-right: 0.5em;
  }

  .delete {
    margin-top: 8em;
  }
}
