<ng-container
  class="toolbar"
  *ngIf="{
    bets: bets$ | async,
    completedBets: completedBets$ | async,
    better: better$ | async
  } as data"
>
  <mat-sidenav-container>
    <mat-sidenav-content class="content">
      <!-- Toolbar -->
      <div class="row no-growing" *ngIf="data.better && isToolbarVisible">
        <mat-toolbar>
          <toolbar></toolbar>
        </mat-toolbar>
      </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

    <mat-sidenav #aboutnav mode="over" position="start">
      <div class="about-panel" (click)="toggleAboutNav()">
        <span class="about">
          <span class="material-icons-outlined close"> close </span>
          <h3>Winabad</h3>
          <p>
            Le club d'Istres Sports Badminton est heureux de présenter le jeu
            Winabad en collaboration avec Phocea Light, spécialiste du matériel
            et de l'éclairage événementiel.
          </p>
        </span>
      </div>
    </mat-sidenav>

    <mat-sidenav #sidenav mode="over" position="end">
      <div *ngIf="data.better?.isAdmin || false; else normal">
        <mat-nav-list (click)="toggleSideMenu()" class="sidenav">
          <span class="material-icons-outlined link close"> close </span>

          <span class="link" (click)="displayBettersBet()">Pronostics</span>
          <span class="link" (click)="displayBettersRanking()">Classement</span>
          <span class="link" (click)="displayBettersOrderedByName()"
            >Récapitulatif</span
          >

          <span
            class="link"
            (click)="logout(0, 0, data.better?.isAdmin || true)"
            ><span class="material-icons-outlined icon"> logout </span>Se
            déconnecter</span
          >
        </mat-nav-list>
      </div>

      <ng-template #normal>
        <mat-nav-list (click)="toggleSideMenu()" class="nav">
          <span class="material-icons-outlined link close"> close </span>

          <span class="link" (click)="navigate('rule')"
            ><span class="material-icons-outlined icon"> menu_book </span
            >Barème</span
          >
          <span class="link" (click)="displayTutorial()">
            <span class="material-icons-outlined icon"> info </span>
            <span>Tutoriel</span>
          </span>
          <span
            class="link logout"
            (click)="
              logout(data.bets?.length || 0, data.completedBets || 0, false)
            "
            ><span class="material-icons-outlined icon"> logout </span>Se
            déconnecter</span
          >
          <hr />
          <span class="link" (click)="deleteAccount(data?.better || null)">
            <span class="material-icons-outlined icon"> delete </span>
            <span>Effacer le compte</span>
          </span>
        </mat-nav-list>
      </ng-template>
    </mat-sidenav>
  </mat-sidenav-container>
</ng-container>
