.menu {
  margin-right: 1em;
}

.nav {
  display: flex;
  flex-direction: column;
  margin: 0;

  .close {
    width: 100%;
    margin-top: 1em;
    text-align: center;
  }

  .link {
    display: flex;
    flex-direction: row;
    margin-inline: 2em;
    margin-top: 2em;
  }

  .label {
    min-width: 170px;
  }

  .icon {
    vertical-align: middle;
    margin-right: 0.5em;
  }

  .logout {
    margin-bottom: 2em;
  }
}

.nav-panel {
  display: flex;
  flex-direction: column;
  align-items: center;

  .close {
    width: 100%;
    margin-top: 1em;
    text-align: center;
  }
}

.about {
  display: flex;
  flex-direction: column;
  padding-inline: 1em;
  text-align: center;

  p {
    line-height: 2em;
  }
}

.logo-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.75em;
}

.logo {
  display: flex;
  width: 120px;
  height: 90px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  display: flex;
  width: 100%;
  max-width: 32px;
  margin-bottom: 0.25em;
}

.icon-small {
  width: 100%;
  max-width: 64px;
}

.icon-large {
  width: 100%;
  max-width: 80px;
}

.toolbar-panel {
  display: flex;
  align-items: center;
  height: 3em;
}

.social-panel {
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: center;
  bottom: 0.5em;
  width: 100%;

  .logos {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
  }

  .social {
    display: flex;
    width: 120px;
    flex-direction: column;
    align-items: center;

    .logo {
      width: 24px;
      height: 24px;
      margin-bottom: 4px;
    }
  }
}
