<div class="page">
  <div class="selection">
    <selection></selection>
  </div>
  <div class="content">
    @if (isMatchLaunched) {
      <div class="view">
        <live [hidden]="isHidden(0)"></live>
        <points [hidden]="isHidden(1)" [set$]="firstSet$" />
        <points [hidden]="isHidden(2)" [set$]="secondSet$" />
        <points [hidden]="isHidden(3)" [set$]="thirdSet$" />
      </div>

      <div class="navigation">
        <div
          class="material-symbols-outlined item"
          [class.is-active]="isActive(0)"
          (click)="goToView(0)"
        >
          tv
        </div>
        <div
          class="material-symbols-outlined item"
          [class.is-active]="isActive(1)"
          (click)="goToView(1)"
        >
          looks_one
        </div>

        @if (secondSet$ | async; as secondSet) {
          <div
            class="material-symbols-outlined item"
            [class.is-active]="isActive(2)"
            (click)="goToView(2)"
          >
            looks_two
          </div>
        } @else {
          <div class="material-symbols-outlined item disabled">looks_two</div>
        }
        @if (thirdSet$ | async; as thirdSet) {
          <div
            class="material-symbols-outlined item"
            [class.is-active]="isActive(3)"
            (click)="goToView(3)"
          >
            looks_3
          </div>
        } @else {
          <div class="material-symbols-outlined item disabled">looks_3</div>
        }
        <div
          class="material-symbols-outlined item"
          (click)="onChangeCourtMode()"
        >
          autorenew
        </div>
      </div>
    }
  </div>
</div>
