<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content style="height: calc(100% - 6em)">
  <p>{{ data.message }}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div *ngIf="isInformationType; else yesNo">
    <button mat-flat-button color="primary" (click)="close()" cdkFocusInitial>
      Fermer
    </button>
  </div>

  <ng-template #yesNo>
    <button mat-flat-button (click)="cancel()" cdkFocusInitial>Annuler</button>
    <button mat-flat-button (click)="validate()" cdkFocusInitial>
      Quitter
    </button>
  </ng-template>
</mat-dialog-actions>
