@-webkit-keyframes backgroundAnimation {
  0% {
    --x: 25%;
    --y: 75%;
  }

  50% {
    --x: 75%;
    --y: 25%;
  }

  100% {
    --x: 50%;
    --y: 50%;
  }
}

@keyframes backgroundAnimation {
  0% {
    --x: 25%;
    --y: 75%;
  }

  50% {
    --x: 75%;
    --y: 25%;
  }

  100% {
    --x: 50%;
    --y: 50%;
  }
}

@property --x {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 25%;
}

@property --y {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 75%;
}
