.backgroundAnimation {
  animation-name: backgroundAnimation;
  animation-duration: 9s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-iteration-count: infinite;

  -webkit-animation-name: backgroundAnimation;
  -webkit-animation-duration: 9s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: alternate;
  --webkit-animation-iteration-count: infinite;
}
