@-webkit-keyframes introAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
    height: 100vh;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    height: 0;
    display: none;
  }
}

@keyframes introAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
    height: 100vh;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    height: 0;
    display: none;
  }
}

@-webkit-keyframes backgroundAnimation {
  0% {
    --x: 25%;
    --y: 75%;
  }

  50% {
    --x: 75%;
    --y: 25%;
  }

  100% {
    --x: 50%;
    --y: 50%;
  }
}

@keyframes backgroundAnimation {
  0% {
    --x: 25%;
    --y: 75%;
  }

  50% {
    --x: 75%;
    --y: 25%;
  }

  100% {
    --x: 50%;
    --y: 50%;
  }
}

.introAnimation {
  animation-name: introAnimation;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-direction: alternate;

  -webkit-animation-name: introAnimation;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: alternate;
}

.backgroundAnimation {
  animation-name: backgroundAnimation;
  animation-duration: 9s;
  animation-fill-mode: forwards;
  animation-direction: alternate;

  -webkit-animation-name: backgroundAnimation;
  -webkit-animation-duration: 9s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: alternate;
}
