.introAnimation {
  animation-name: introAnimation;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-direction: alternate;

  -webkit-animation-name: introAnimation;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: alternate;
}
