#isb {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;

  -webkit-opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
}

.isbAnimation {
  animation-name: fadeOut;
  animation-duration: 2s;
  animation-delay: 4s;
  animation-fill-mode: forwards;

  -webkit-animation-name: fadeOut;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
}
