@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
    height: 100vh;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    height: 0;
    display: none;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
    height: 100vh;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    height: 0;
    display: none;
  }
}

@-webkit-keyframes showAndHideMe {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes showAndHideMe {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@-webkit-keyframes showMe {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes showMe {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}
