<div class="login">
  <div class="login-panel">
    <h2>Bienvenue sur Winabad</h2>

    <form [formGroup]="formGroup" (keydown.enter)="login()">
      <p>
        <mat-form-field hideRequiredMarker="true">
          <mat-label>Nom</mat-label>
          <mat-icon matPrefix>person</mat-icon>
          <input
            matInput
            type="text"
            formControlName="name"
            autocomplete="on"
          />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field hideRequiredMarker="true">
          <mat-label>Code à 4 chiffres</mat-label>
          <mat-icon matPrefix>lock</mat-icon>
          <input
            matInput
            id="password"
            [type]="passwordVisibility ? 'text' : 'password'"
            formControlName="password"
            autocomplete="on"
            minlength="4"
            maxlength="4"
            pattern="[0-9]{4}"
            (input)="checkPassword($event)"
          />
          <mat-hint class="hint" (click)="toggleVisibility()"
            ><mat-icon matSuffix>visibility</mat-icon>&nbsp;{{
              displayHideLabel
            }}</mat-hint
          >
        </mat-form-field>
      </p>
    </form>

    <button
      mat-flat-button
      color="primary"
      class="login-button"
      (click)="login()"
    >
      Se connecter
    </button>

    <a class="create-account" (click)="createBetter()">Créer un compte</a>
  </div>

  <div class="sponsoring">
    <div class="isb"></div>
    <div class="phocea"></div>
  </div>
</div>
