<div class="login-panel">
  <div class="login-card">
    <h2>Istres Sports Badminton <br />Bienvenue sur Winabad</h2>

    <form [formGroup]="formGroup" (keydown.enter)="login()">
      <p>
        <mat-form-field hideRequiredMarker="true">
          <mat-label>Nom</mat-label>
          <mat-icon matPrefix>person</mat-icon>
          <input
            matInput
            type="text"
            formControlName="name"
            autocomplete="on"
            (input)="upperCase($event)"
          />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field hideRequiredMarker="true">
          <mat-label>Code à 4 chiffres</mat-label>
          <mat-icon matPrefix>lock</mat-icon>
          <input
            matInput
            id="password"
            [type]="passwordVisibility ? 'text' : 'password'"
            formControlName="password"
            autocomplete="on"
            minlength="4"
            maxlength="4"
            pattern="[0-9]{4}"
            (input)="checkPassword($event)"
          />
          <mat-icon
            matSuffix
            *ngIf="!passwordVisibility"
            (click)="toggleVisibility()"
            >visibility</mat-icon
          >
          <mat-icon
            matSuffix
            *ngIf="passwordVisibility"
            (click)="toggleVisibility()"
            >visibility_off</mat-icon
          >
        </mat-form-field>
      </p>
    </form>

    <button
      mat-raised-button
      color="primary"
      (click)="login()"
      [disabled]="disabled"
      class="login-button"
    >
      Se connecter
    </button>

    <a class="create-account" (click)="createBetter()">Créer un compte</a>
  </div>
</div>
