@import "./fadeout";
@import "./showandhideme";
@import "./showme";
@import "./backgroundanimation";

.intro {
  display: grid;
  height: 100vh;

  background: radial-gradient(circle at var(--x) var(--y), #9466a7, #4a3054);

  .winabad,
  .isb {
    display: grid;
    grid-template-rows: 100vh;

    align-items: center;
    justify-items: center;
  }
}

.login-panel {
  display: flex;

  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
}

.login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  margin-top: 1em;

  text-align: center;
}

.create-account {
  margin-bottom: 1em;
  text-decoration: underline;
}

.login-button {
  margin-bottom: 1.5em;
}

.mat-mdc-form-field {
  min-width: 18.125em;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent;
}

::ng-deep .mat-mdc-form-field-focus-overlay {
  background-color: transparent;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-disabled,
::ng-deep .mat-form-field-outline {
  opacity: 0;
}
