@-webkit-keyframes showMe {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes showMe {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.showMe {
  animation-name: showMe;
  animation-duration: 4s;
  animation-delay: 5s;
  animation-fill-mode: forwards;

  -webkit-animation-name: showMe;
  -webkit-animation-duration: 4s;
  -webkit-animation-delay: 5s;
  -webkit-animation-fill-mode: forwards;
}
