#winabad {
  opacity: 0;

  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: 11s;
  animation-fill-mode: forwards;

  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 11s;
  -webkit-animation-fill-mode: forwards;
}

#entrer {
  opacity: 0;

  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: 14s;
  animation-fill-mode: forwards;

  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 14s;
  -webkit-animation-fill-mode: forwards;
}
