@-webkit-keyframes winabadAnimation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes winabadAnimation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

.winabadAnimation {
  animation-name: winabadAnimation;
  animation-duration: 5s;
  animation-fill-mode: forwards;

  -webkit-animation-name: winabadAnimation;
  -webkit-animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
}
