#umpire {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: 7s;
  animation-fill-mode: forwards;

  -webkit-opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 7s;
  -webkit-animation-fill-mode: forwards;
}

#entrer {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: 8s;
  animation-fill-mode: forwards;

  -webkit-opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 8s;
  -webkit-animation-fill-mode: forwards;
}
