<div class="stat-panel">
  <titlebar title="Statistiques"></titlebar>

  <table mat-table [dataSource]="(betStat$ | async) || []">
    <ng-container matColumnDef="playerName">
      <th mat-header-cell *matHeaderCellDef>Joueurs</th>
      <td mat-cell *matCellDef="let stat">
        {{ stat.playerName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="winner">
      <th mat-header-cell *matHeaderCellDef>
        <span>% victoire</span>
      </th>
      <td mat-cell *matCellDef="let stat">
        {{ stat.winner }}
      </td>
    </ng-container>

    <ng-container matColumnDef="runnerUp">
      <th mat-header-cell *matHeaderCellDef>
        <span>% finaliste</span>
      </th>
      <td mat-cell *matCellDef="let stat">
        {{ stat.runnerUp }}
      </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef>
        <span>Séries</span>
      </th>
      <td mat-cell *matCellDef="let stat">
        {{ stat.category }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: false"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
