<h2 mat-dialog-title>Consultation du point</h2>
<mat-dialog-content>
  <div class="view-score-area">
    <div class="score">{{ currentShowedPoint.pointLeftPair}}</div>
    <div class="score">{{ currentShowedPoint.pointRightPair}}</div>
  </div>
  <div class="view-court-area">
    <div class="navigation">
      <button matIconButton (click)="showPreviousPoint()">
        <mat-icon fontIcon="arrow_left" class="arrow"></mat-icon>
      </button>
    </div>
    <court [point]="currentShowedPoint" [isLiveMode]="false"></court>
    <div class="navigation">
      <button matIconButton (click)="showNextPoint()">
        <mat-icon fontIcon="arrow_right" class="arrow"></mat-icon>
      </button>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button matButton (click)="goBackToPoint()">Revenir ici</button>
  <button matButton mat-dialog-close>Fermer</button>
</mat-dialog-actions>
