<ng-container
  *ngIf="{
    better: better$ | async,
  } as data"
>
  <ng-container *ngIf="isThemeAnimated">
    <div class="circle-breathe-panel" *ngIf="isCircleBreathAnimation">
      <span class="circle xxlarge shade1"></span>
      <span class="circle xlarge shade2"></span>
      <span class="circle large shade3"></span>
      <span class="circle medium shade4"></span>
      <span class="circle small shade5"></span>
    </div>

    <div class="wave-panel" *ngIf="isWaveAnimation">
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
    </div>

    <div class="top-wave-panel" *ngIf="isWaveAnimation">
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
    </div>

    <div class="bubble-panel" *ngIf="isWaterAnimation">
      <span class="bubbles">
        <span
          *ngFor="let bubble of bubbles"
          style="--i: {{ bubble.id }}"
          [class]="getClass(bubble)"
        ></span>
      </span>
    </div>

    <div class="sky-panel" *ngIf="isSkyAnimation">
      <div class="container">
        <div class="sky">
          <div class="stars"></div>
          <div class="stars2"></div>
          <div class="stars3"></div>
          <div class="comet1"></div>
          <div class="comet2"></div>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- Pronostic -->
  <div
    class="bet-panel slow-animation"
    [class]="betPanelClass"
    *ngIf="!isReviewOfVisible"
    #betPanel
  >
    <div *ngIf="tutorialStep === 4" class="tutorial-wrap">
      <div class="overlay-transparent"></div>
      <div class="tutorial4">
        <h5>Options disponibles (4/4)</h5>
        <p>Des options sont disponibles en bas de la page.</p>
        <p>
          Une fois tous les pronostics saisis, tu pourras te déconnecter en
          choisissant <strong>Déconnexion</strong> du menu latéral.
        </p>

        <p>
          <strong>Bons pronostics à toi !</strong>
        </p>
        <button mat-raised-button (click)="gotoNextTutorial(data.better)">
          Fermer
        </button>
      </div>
    </div>

    <!-- Durée du match -->
    <bet-duration
      *ngIf="(contest$ | async) && (category$ | async)"
      class="row no-growing card slow-animation"
      [class]="{
        hidden: isCompactMode,
        highlight: tutorialStep === 3 ? true : false
      }"
    ></bet-duration>

    <div *ngIf="tutorialStep === 3" class="tutorial-wrap">
      <div class="overlay"></div>
      <div class="tutorial3">
        <h5>Pronostic de la durée du match (3/4)</h5>
        <p>Le pronostic de la durée du match le plus long se fait ici.</p>
        <p>Déplace la jauge de gauche à droite, entre 30 et 120 minutes.</p>
        <button mat-raised-button (click)="gotoNextTutorial(data.better)">
          Suivant
        </button>
      </div>
    </div>

    <!-- Séries et joueurs -->
    <div class="card row growing betting">
      <!-- Séries -->
      <bet-contest
        class="contests"
        [class]="{
          highlight: tutorialStep === 1 ? true : false
        }"
      ></bet-contest>
      <div *ngIf="tutorialStep === 1" class="tutorial-wrap">
        <div class="overlay"></div>
        <div class="tutorial1">
          <h5>Séries du jour (1/4)</h5>
          <p>Les séries du jour sont listées dans cet en-tête.</p>
          <p>Appuie sur le nom d'une série pour l'activer.</p>
          <button mat-raised-button (click)="gotoNextTutorial(data.better)">
            Suivant
          </button>
        </div>
      </div>

      <div *ngIf="tutorialStep === 2" class="tutorial-wrap">
        <div class="overlay"></div>
        <div class="tutorial2">
          <h5>Joueurs de la série (2/4)</h5>
          <p>Les joueurs de la série active apparaissent dans ce tableau.</p>
          <p>
            Appuie sur la première colonne pour choisir le vainqueur et sur la
            seconde pour le finaliste.
          </p>

          <button mat-raised-button (click)="gotoNextTutorial(data.better)">
            Suivant
          </button>
        </div>
      </div>

      <!-- Joueurs -->
      <bet-player
        class="row growing"
        [class]="{
          highlight: tutorialStep === 2 ? true : false
        }"
        *ngIf="(contest$ | async) && (category$ | async)"
      ></bet-player>
    </div>
  </div>

  <!-- Résumé des pronostics -->
  <div
    class="review-of-panel slow-animation"
    [class]="reviewOfClass"
    *ngIf="isReviewOfVisible"
  >
    <div class="card row growing">
      <bet-review-of></bet-review-of>
    </div>
  </div>

  <!-- Paramétrage -->
  <div class="setting-panel">
    <setting
      [class]="{ hidden: isCompactMode }"
      class="slow-animation"
    ></setting>
  </div>

  <!-- Bouton d'appréciation -->
  <div [class]="likePanelClass" *ngIf="!isEvaluationDone && !isReviewOfVisible">
    <span
      [matMenuTriggerFor]="menu"
      class="material-icons-outlined thumb"
      [class]="likeClass"
    >
      thumb_up
    </span>
    <mat-menu #menu="matMenu">
      <span class="evaluation">
        <ng-container *ngFor="let evaluation of evaluations; let index">
          <span class="star-icon" (click)="like(data.better, evaluation)">
            {{ evaluationIcon(data?.better?.evaluation || -1, index) }}
          </span>
        </ng-container>
      </span>
    </mat-menu>
  </div>
</ng-container>
