html,
body {
  margin: 0;
}

.bet-panel {
  display: flex;
  flex-flow: nowrap column;
}

.bet-panel .row.no-growing {
  flex: 0 1 auto;
}

.bet-panel .row.growing {
  flex: 1 1 auto;
  overflow-y: auto;
}

.bet-panel .title {
  margin-left: 6px;
}

.tutorial-wrap {
  position: relative;
}

.tutorial1,
.tutorial2,
.tutorial3,
.tutorial4 {
  display: inline-block;
  position: absolute;
  background-color: #6caddf;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 85vw;
  z-index: 1000;
  padding: 0 6px 6px 6px;
  transform: translate(-50%, 0);
  left: 50%;
}

.tutorial1,
.tutorial2,
.tutorial4 {
  top: 1em;
}

.tutorial3 {
  top: 7em;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin: 0 6px 6px 6px;
  padding: 6px;
}

.duration {
  margin-top: 6px;
}
