.bet-panel {
  display: flex;
  flex-flow: nowrap column;
}

.bet-panel .row.no-growing {
  flex: 0 1 auto;
}

.bet-panel .row.growing {
  flex: 1 1 auto;
  overflow-y: auto;
}

.bet-panel .title {
  margin-left: 0.5em;
}

.tutorial-wrap {
  position: relative;
}

.tutorial1,
.tutorial2,
.tutorial3,
.tutorial4 {
  display: inline-block;
  position: absolute;
  background-color: #6caddf;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  width: 85vw;
  z-index: 1000;
  padding: 0 0.5em 0.5em 0.5em;
  transform: translate(-50%, 0);
  left: 50%;
}

.tutorial1,
.tutorial4 {
  top: 1em;
}

.tutorial2 {
  top: 2em;
}
.tutorial3 {
  top: 8.5em;
}

.overlay,
.overlay-transparent {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: 500;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 0.5em;
  margin: 0 0.5em 0.5em 0.5em;
  padding: 0.5em 0.5em 0 0.5em;
}

.like-panel {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 75%;
}

.like-panel.left {
  left: 0;
}

.like-panel.right {
  right: 0;
}

.thumb {
  display: flex;
  font-size: 1.25em;
  height: 4em;
  width: 1.35em;
  background-color: #3f2f7d;
  color: white;
  justify-content: center;
  align-items: center;
}

.thumb.left {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.thumb.right {
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

.evaluation {
  margin: 0.75em;
}

.star-icon {
  font-family: "Material Icons";
  font-size: 1.5em;
}

.icon {
  vertical-align: middle;
}

.hidden {
  height: 0;
  opacity: 0;
  transition: height 0.75s, opacity 0.25s linear;
}

.show {
  opacity: 1;
  transition: opacity 0.25s linear;
}

.highlight {
  background-color: inherit;
  z-index: 750;
}

.setting-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 3em;
  border-top: solid 1px grey;
}

.setting {
  display: flex;
  flex-direction: column;
  align-items: center;

  .label {
    font-size: 0.75em;
  }
}

.compact-mode {
  display: none;
}
