<div class="court">
  <div [class]="getClass('player1', point, 1)">
    {{getPlayerName(point.playerPositionLeftPair.playerLeft)}}
  </div>
  <div [class]="getClass('player2', point, 2)">
    {{getPlayerName(point.playerPositionLeftPair.playerRight)}}
  </div>

  <div class="arrow">
    <span [class]="getArrow(point)"> navigation </span>
  </div>

  <div [class]="getClass('player3', point, 3)">
    {{getPlayerName(point.playerPositionRightPair.playerRight)}}
  </div>
  <div [class]="getClass('player4', point, 4)">
    {{getPlayerName(point.playerPositionRightPair.playerLeft)}}
  </div>
</div>
