.court {
  position: relative;
  width: 1100px;
  height: 510px;

  background-image: url("../../../assets/img/background/court-left-right.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.player {
  display: flex;
  font-size: 1.5em;
  justify-content: center;
  align-items: center;
}

.server::before {
  font-family: "Material Icons";
  content: "\e7cd";
  margin-right: 0.5em;
}

.player1,
.player2,
.player3,
.player4 {
  position: absolute;
  width: 315px;
  height: 204px;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 394px;
  top: 48px;
  width: 311px;
  height: 413px;
}

.player1 {
  left: 73px;
  top: 48px;
}

.player2 {
  left: 73px;
  top: 257px;
}

.player3 {
  left: 712px;
  top: 48px;
}

.player4 {
  left: 712px;
  top: 257px;
}
