.court {
  display: grid;
  grid-template-areas:
    "p1 a p3"
    "p2 a p4";

  grid-template-columns: 1fr 0.5fr 1fr;

  height: 100%;
}

.arrow {
  grid-area: a;
  display: grid;
  justify-items: center;
  align-items: center;

  border-left: 2px solid;
  border-right: 2px solid;
}

.north-east {
  transform: rotate(45deg) scale(3);
}

.south-east {
  transform: rotate(135deg) scale(3);
}

.north-west {
  transform: rotate(-45deg) scale(3);
}

.south-west {
  transform: rotate(-135deg) scale(3);
}

.player {
  display: flex;
  font-size: 1.5em;
  justify-content: center;
  align-items: center;
}

.server {
  display: flex;
  font-size: 1.5em;
  justify-content: center;
  align-items: center;

  background-color: #93aba0;
}

.server::before {
  font-family: "Material Icons";
  content: "\e7cd";
  margin-right: 0.5em;
  border-radius: 50%;
}

.player1 {
  grid-area: p1;
  border-bottom: 1px solid;
}

.player2 {
  grid-area: p2;
  border-top: 1px solid;
}

.player3 {
  grid-area: p3;
  border-bottom: 1px solid;
}

.player4 {
  grid-area: p4;
  border-top: 1px solid;
}
