.court {
  position: relative;
  width: 1280px;
  height: 594px;

  background-image: url("../../../assets/img/background/court-left-right.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.player {
  display: flex;
  font-size: 1.5em;
  justify-content: center;
  align-items: center;
}

.server::before {
  font-family: "Material Icons";
  content: "\e7cd";
  margin-right: 0.5em;
}

.player1,
.player2,
.player3,
.player4 {
  position: absolute;
  width: 367px;
  height: 237px;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 458px;
  top: 56px;
  width: 364px;
  height: 481px;
}

.player1 {
  left: 85px;
  top: 56px;
}

.player2 {
  left: 85px;
  top: 300px;
}

.player3 {
  left: 828px;
  top: 56px;
}

.player4 {
  left: 828px;
  top: 300px;
}
