.toolbar {
  display: flex;
  width: 90vw;
  justify-content: space-between;
  align-items: center;
}

.title-area {
  display: flex;
  align-items: center;

  .title {
    margin-left: 0.75em;
  }
}

.logo-color {
  fill: black;
}

.logo-gradient {
  fill: url(#gradient);
}
