<div class="toolbar" *ngIf="{ allBetsDone: allBetsDone$ | async } as data">
  <span class="title-area">
    <span class="isb"></span>
    <span class="title">WINABAD</span>
  </span>
  <span *ngIf="(better$ | async)?.isAdmin">
    <span (click)="displayBettersBet()">Pronos</span>
    <span>&nbsp;|&nbsp;</span>
    <span (click)="displayBettersRanking()">Clts</span>
    <span>&nbsp;|&nbsp;</span>
    <span (click)="displayBettersOrderedByName()">Récap</span>
  </span>
  <span>{{ completedBets$ | async }} / {{ (bets$ | async)?.length }}</span>
  <span class="material-icons" (click)="logout(data.allBetsDone || false)"
    >logout</span
  >
</div>
