<h2 mat-dialog-title>Charte Winabad</h2>
<mat-dialog-content style="height: calc(100% - 6em)">
  <h4>1 – ENGAGEMENTS DU CLUB</h4>
  <p>
    Le club Istres Sports Badminton s'engage à protéger la vie privée des
    visiteurs et des joueurs du jeu Winabad en conformité avec la loi
    Informatique et Libertés du 6 janvier 1978 modifiée ainsi qu’avec le
    Règlement 2016/679 du Parlement européen et du Conseil du 27 avril 2016
    (RGPD).
  </p>
  <ul>
    A ce titre, il respecte les principes suivants :
    <li>Il collecte uniquement les données dont il a besoin ;</li>
    <li>
      Il traite vos données pour des finalités explicites, légitimes et
      déterminées ;
    </li>
    <li>
      Il conserve vos données pendant la durée nécessaire à la réalisation du
      traitement pour lesquelles elles ont été collectées ou, si tel est le cas,
      pendant la durée fixée par la loi ;
    </li>
    <li>Il ne communique vos données à aucune société ni tiers ;</li>
    <li>
      Il veille à mettre en œuvre les mesures de sécurité adaptées afin
      d’assurer un niveau de protection élevé à vos données.
    </li>
  </ul>

  <p>
    Cette Charte Winabad a pour objectif de vous informer de manière
    transparente sur la façon dont le club collecte et utilise vos données ainsi
    que sur vos droits.
  </p>
  <p>
    Notre Charte Winabad s’applique au jeu Winabad. En utilisant le jeu Winabad,
    vous déclarez accepter les termes de la présente Charte. Cette dernière est
    susceptible d’être modifiée à tout moment.
  </p>

  <h4>2 – QUELLES SONT LES DONNEES COLLECTEES ?</h4>
  <p>
    Lors de l’utilisation du jeu Winabad, le club collecte uniquement les
    données que vous lui communiquez directement au moment de la création de
    votre compte. Ces données sont vos prénom, nom, adresse email ou numéro de
    téléphone. Aucune donnée n'est collectée de manière indirecte, ni par le
    biais de cookies ni par celui de traceurs...
  </p>

  <h4>3 – COMMENT VOS DONNEES SONT-ELLES UTILISEES ?</h4>
  <p>
    Le club utilise les données vous concernant uniquement pour effectuer un
    calcul des points et un classement des joueurs ayant participé au jeu de
    concours de pronostic Winabad.
  </p>

  <h4>4 – QUELLE EST LA DUREE DE CONSERVATION DE VOS DONNEES ?</h4>
  <p>
    Vos données sont conservées jusqu'au lundi 10 juillet 2023, date à la quelle
    elles seront totalement effacées. Les vainqueurs du jeu Winabad auront été
    contactés samedi 8 au soir ou dimanche 9 au soir après la fin de la journée
    de concours de pronostic.
  </p>
  <h4>5 – VOS DONNEES SONT-ELLES TRAITEES DE MANIERE SECURISEE ?</h4>
  <p>
    Le club veille à mettre en œuvre des mesures de contrôle techniques,
    physiques et organisationnelles appropriées pour assurer la sécurité et la
    confidentialité de vos données, notamment afin de les protéger contre toute
    perte, destruction accidentelle, altération, et accès non autorisés.
    Néanmoins, le club vous recommande de protéger le code secret de votre
    compte et de ne le communiquer à personne. Si vous soupçonnez que votre
    compte a fait l’objet d’une usurpation, le club vous demande de bien vouloir
    l'avertir dans les plus brefs délais.
  </p>
  <h4>6 – COOKIES ET AUTRES TRACEURS ?</h4>
  <p>
    Le site Winabad ne collecte aucun cookie et n'utilise aucun traceur de
    données.
  </p>
  <h4>7 – QUELS SONT VOS DROITS ET COMMENT LES EXERCER ?</h4>
  <p>
    Conformément aux dispositions légales et réglementaires applicables en
    matière de données personnelles, vous disposez d’un droit à la limitation du
    traitement de vos données, d'un droit d'opposition, d'accès, de portabilité,
    de rectification et de suppression de vos données. Vous pouvez exercer vos
    droits sur simple demande en vous adressant au club Istres Sports Badminton.
  </p>
  <h4>8 – DROIT APPLICABLE ET JURIDICTION COMPETENTE</h4>
  <p>
    La présente Charte Winabad est régie par le droit français et sera
    interprétée et exécutée conformément à ce même droit.
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="close()">Fermer</button>
</mat-dialog-actions>
