.content {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  height: 100%;
}

.points {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(6, 1fr);
  row-gap: 0.5em;
  justify-items: center;
  margin-top: 1em;
}

.point {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4em;
  height: 2em;
  cursor: pointer;
}

.is-active {
  color: var(--mat-sys-on-primary);
  background-color: var(--mat-sys-primary);
  position: relative;
}

.is-active::after {
  font-family: "Material Icons";
  content: "\e166";
  top: -7px;
  left: 80%;
  position: absolute;
}

.played {
  color: #c0efe5;
  background-color: #1b5558;
}

.empty {
  background-color: #3f5c5e;
}
