<ng-container *ngIf="{ betsReviewOf: betsReviewOf$ | async } as data">
  <span class="back" (click)="hideReviewOf()"
    ><span class="material-icons-outlined"> navigate_before </span>
    {{ reviewOfBetterName }}
  </span>
  <span class="review-of-row" *ngFor="let betsReviewOf of data.betsReviewOf">
    <span class="contest">
      <span class="contest-label">
        {{ betsReviewOf.contestLongName }} -
        {{ betsReviewOf.categoryLongName }}
      </span>
      <span *ngIf="betsReviewOf.isCategoryDone" class="points">{{
        getPointsLabel(betsReviewOf)
      }}</span>
    </span>

    <span class="review-of-detail">
      <span class="bet-label">Pronostic</span>
      <span
        ><span class="material-icons-outlined">emoji_events</span
        >{{ betsReviewOf.winnerPlayerName1 }} -
        {{ betsReviewOf.winnerPlayerName2 }}</span
      >
      <span
        ><span class="material-icons">workspace_premium</span
        >{{ betsReviewOf.runnerUpPlayerName1 }} -
        {{ betsReviewOf.runnerUpPlayerName2 }}</span
      >
    </span>

    <span class="review-of-detail real" *ngIf="betsReviewOf.isCategoryDone">
      <span class="bet-label">Résultat final</span>
      <span
        ><span class="material-icons-outlined">emoji_events</span
        >{{ betsReviewOf.realWinnerPlayerName1 }} -
        {{ betsReviewOf.realWinnerPlayerName2 }}</span
      >
      <span
        ><span class="material-icons">workspace_premium</span
        >{{ betsReviewOf.realRunnerUpPlayerName1 }} -
        {{ betsReviewOf.realRunnerUpPlayerName2 }}</span
      >
    </span>
  </span>
</ng-container>
