@if (betsReviewOf$ | async; as betsReviewOf) {
  <ng-container>
    <span class="back" (click)="hideReviewOf()"
      ><span class="material-icons-outlined"> navigate_before </span>
      {{ reviewOfBetterName }}
    </span>
    @for (bet of betsReviewOf; track bet) {
      <span class="review-of-row">
        <span class="review-of-contest">
          <span class="contest-label">
            {{ bet.contestLongName }} -
            {{ bet.categoryLongName }}
          </span>
          @if (bet.isCategoryDone) {
            <span class="contest-points">{{ getPointsLabel(bet) }}</span>
          }
        </span>

        <span class="review-of-detail">
          <!-- Pronostic -->
          <span>
            @if (bet.isCategoryDone) {
              <span class="bet-label">Pronostic</span>
            }
            <span class="detail-bet">
              <!-- Vainqueur -->
              <span class="material-icons-outlined">emoji_events</span>
              <span>
                <span [class.bold]="isClubName"
                  >{{ firstPlayerLabel(bet.winnerPlayer) }}
                </span>
                @if (isClubName) {
                  <span>{{ firstPlayerClub(bet.winnerPlayer) }}</span>
                }
                <span [class.bold]="isClubName"
                  >{{ secondPlayerLabel(bet.winnerPlayer) }}
                </span>
                @if (isClubName) {
                  <span>{{ secondPlayerClub(bet.winnerPlayer) }}</span>
                }
              </span>
            </span>
            <span class="detail-bet">
              <!-- Finaliste -->
              <span class="material-icons">workspace_premium</span>
              <span>
                <span [class.bold]="isClubName"
                  >{{ firstPlayerLabel(bet.runnerUpPlayer) }}
                </span>
                @if (isClubName) {
                  <span>{{ firstPlayerClub(bet.runnerUpPlayer) }}</span>
                }
                <span [class.bold]="isClubName"
                  >{{ secondPlayerLabel(bet.runnerUpPlayer) }}
                </span>
                @if (isClubName) {
                  <span>{{ secondPlayerClub(bet.runnerUpPlayer) }}</span>
                }
              </span>
            </span>
          </span>

          <!-- Résultat final -->
          @if (bet.isCategoryDone) {
            <span>
              <span class="bet-label">Résultat final</span>

              <span class="detail-bet">
                <!-- Vainqueur -->
                <span class="material-icons-outlined">emoji_events</span>
                <span>
                  <span [class.bold]="isClubName"
                    >{{ firstPlayerLabel(bet.realWinnerPlayer) }}
                  </span>
                  @if (isClubName) {
                    <span>{{ firstPlayerClub(bet.realWinnerPlayer) }}</span>
                  }
                  <span [class.bold]="isClubName"
                    >{{ secondPlayerLabel(bet.realWinnerPlayer) }}
                  </span>
                  @if (isClubName) {
                    <span>{{ secondPlayerClub(bet.realWinnerPlayer) }}</span>
                  }
                </span>
              </span>
              <span class="detail-bet">
                <!-- Finaliste -->
                <span class="material-icons">workspace_premium</span>
                <span>
                  <span [class.bold]="isClubName"
                    >{{ firstPlayerLabel(bet.realRunnerUpPlayer) }}
                  </span>
                  @if (isClubName) {
                    <span>{{ firstPlayerClub(bet.realRunnerUpPlayer) }}</span>
                  }
                  <span [class.bold]="isClubName"
                    >{{ secondPlayerLabel(bet.realRunnerUpPlayer) }}
                  </span>
                  @if (isClubName) {
                    <span>{{ secondPlayerClub(bet.realRunnerUpPlayer) }}</span>
                  }
                </span>
              </span>
            </span>
          }
        </span>
      </span>
    }
  </ng-container>
}
