<h2 mat-dialog-title>Pronostics</h2>

<mat-dialog-content style="height: calc(100% - 6em)">
  <ng-container
    *ngIf="{
      contests: contests$ | async,
      betsReview: betsReview$ | async
    } as data"
  >
    <mat-tab-group>
      <mat-tab
        *ngFor="let contestReview of contestsReview"
        [label]="contestReview.contestName"
      >
        <mat-table [dataSource]="contestReview.categoryReview">
          <ng-container matColumnDef="category">
            <tr class="header">
              <th class="category" mat-header-cell *matHeaderCellDef>&nbsp;</th>
            </tr>
            <td class="category" mat-cell *matCellDef="let categoryReview">
              {{ categoryReview.categoryShortName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="player">
            <tr class="header">
              <th mat-header-cell *matHeaderCellDef>Joueurs</th>
            </tr>
            <td mat-cell *matCellDef="let categoryReview">
              <b>{{ categoryReview.winnerPlayerName1 }}</b>
              <br />
              <b>{{ categoryReview.winnerPlayerName2 }}</b>
              <br />
              {{ categoryReview.runnerUpPlayerName1 }}
              <br />
              {{ categoryReview.runnerUpPlayerName2 }}
            </td>
          </ng-container>

          <div>
            <tr
              mat-header-row
              *matHeaderRowDef="displayedColumns; sticky: false"
            ></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </div>
        </mat-table>
      </mat-tab>
    </mat-tab-group>
  </ng-container>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="close()" cdkFocusInitial>
    Fermer
  </button>
</mat-dialog-actions>
