.review-of-row {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.review-of-contest {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5em;
  align-items: center;
}

.review-of-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detail-bet {
  display: flex;
  flex-direction: row;

  span {
    display: flex;
    flex-direction: column;
  }

  span:first-child {
    margin-right: 0.5em;
  }
}

.category {
  width: 2em;
  text-align: center;
}

.contest-label {
  font-weight: bold;
}

.contest-points {
  padding: 0.5em 0.75em;
  font-weight: bold;
}

.bet-label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

hr {
  margin-block: 1em;
}

.back {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2em;
}

.bold {
  font-weight: bold;
}
