.close {
  width: 100%;
  margin-top: 1em;
  text-align: center;
}

.sidenav-panel {
  display: flex;
  flex-direction: column;
  margin: 0;

  .link {
    display: flex;
    flex-direction: row;
    margin-inline: 2em;
    margin-top: 2em;
    align-items: center;
  }

  .label {
    min-width: 170px;
  }

  .icon {
    margin-right: 0.5em;
  }

  .logout {
    margin-bottom: 2em;
  }
}
