<ng-container class="sidenav-panel" *ngIf="data$ | async as data">
  <span class="material-icons-outlined close link"> close </span>

  <span class="sidenav-panel">
    <span *ngIf="data.better.isAdmin; else normal">
      <span class="link" (click)="navigate('bet')"
        ><span class="label">Remplir résultats</span></span
      >
      <hr />
      <span class="link" (click)="displayBettersBet()">Résumé pronostics</span>
      <span class="link" (click)="displayBetStat()">Statistiques</span>

      <hr />
      <span class="link" (click)="displayBettersOrderedByName()"
        >Nombre de points</span
      >
      <span class="link" (click)="displayBettersRanking1()">
        <span class="label">Classement DH/DD</span>
      </span>
      <span class="link" (click)="displayBettersRanking2()">
        <span class="label">Classement DMx</span>
      </span>
      <hr />

      <span class="link" (click)="setPlayersNames()">
        <span class="label">Remplir noms joueurs</span>
      </span>
      <hr />
    </span>

    <ng-template #normal>
      <span
        class="link"
        *ngIf="isBettingPhase(data.better.endBetDate || null)"
        (click)="navigate('bet')"
        ><span class="material-icons-outlined icon"> cottage </span
        ><span class="label">Pronostics</span></span
      >

      <span
        class="link"
        *ngIf="data.better.isDay1BetOver"
        (click)="displayBettersRanking1()"
      >
        <span class="material-icons-outlined icon"> emoji_events </span>
        <span class="label">Classement DH/DD</span>
      </span>

      <span
        class="link"
        *ngIf="data.better.isDay2BetOver"
        (click)="displayBettersRanking2()"
      >
        <span class="material-icons-outlined icon"> emoji_events </span>
        <span class="label">Classement DMx</span>
      </span>

      <span class="link" (click)="navigate('rule')"
        ><span class="material-icons-outlined icon"> rule </span
        ><span class="label">Barème</span></span
      >
      <span
        class="link"
        *ngIf="isBettingPhase(data.better.endBetDate || null)"
        (click)="displayTutorial()"
      >
        <span class="material-icons-outlined icon"> help_outline </span>
        <span class="label">Tutoriel</span>
      </span>

      <span class="link" (click)="openGDPR()">
        <span class="material-icons-outlined icon"> balance </span>
        <span class="label">Charte WINABAD</span>
      </span>
    </ng-template>

    <span
      class="link logout"
      (click)="
        logout(
          data?.bets?.length || 0,
          data?.completedBets || 0,
          data?.better?.isAdmin || false
        )
      "
      ><span class="material-icons-outlined icon"> power_settings_new </span
      ><span class="label">Déconnexion</span></span
    >

    <ng-container *ngIf="!data.better?.isAdmin">
      <hr />
      <span
        class="link"
        *ngIf="isBettingPhase(data.better.endBetDate || null)"
        (click)="eraseBets(data?.better || null)"
      >
        <span class="material-icons-outlined icon"> restart_alt </span>
        <span class="label">RAZ des pronostics</span>
      </span>
      <span class="link" (click)="deleteAccount(data.better || null)">
        <span class="material-icons-outlined icon"> delete </span>
        <span class="label">Effacement du compte</span>
      </span>
    </ng-container>
  </span>
</ng-container>
