@if (data$ | async; as data) {
  <ng-container class="sidenav-panel">
    <span class="material-icons-outlined close link"> close </span>

    <span class="sidenav-panel">
      @if (data.better.isAdmin) {
        <span>
          <span class="link" (click)="navigate('bet')"
            ><span class="label">Remplir résultats</span></span
          >
          <hr />
          <span class="link" (click)="displayBettersBet()"
            >Résumé pronostics</span
          >
          <span class="link" (click)="displayBetStat()">Statistiques</span>

          <hr />
          <span class="link" (click)="displayBettersOrderedByName()"
            >Nombre de points</span
          >
          <span class="link" (click)="displayBettersRanking1()">
            <span class="label">Classement DH/DD</span>
          </span>
          <span class="link" (click)="displayBettersRanking2()">
            <span class="label">Classement DMx</span>
          </span>
          <hr />

          <span class="link" (click)="setPlayersNames()">
            <span class="label">Remplir noms joueurs</span>
          </span>
          <hr />
        </span>
      } @else {
        <ng-container #normal>
          @if (isBettingPhase(data.better.endBetDate || null)) {
            <span class="link" (click)="navigate('bet')"
              ><span class="material-icons-outlined icon"> cottage </span
              ><span class="label">Pronostics</span></span
            >
          }

          @if (data.better.isDay1BetOver) {
            <span class="link" (click)="displayBettersRanking1()">
              <span class="material-icons-outlined icon"> emoji_events </span>
              <span class="label">Classement DH/DD</span>
            </span>
          }

          @if (data.better.isDay2BetOver) {
            <span class="link" (click)="displayBettersRanking2()">
              <span class="material-icons-outlined icon"> emoji_events </span>
              <span class="label">Classement DMx</span>
            </span>
          }

          <span class="link" (click)="navigate('rule')"
            ><span class="material-icons-outlined icon"> rule </span
            ><span class="label">Barème</span></span
          >
          @if (
            isBettingPhase(data.better.endBetDate || null) &&
            isTutorialAvailable
          ) {
            <span class="link" (click)="displayTutorial()">
              <span class="material-icons-outlined icon"> help_outline </span>
              <span class="label">Tutoriel</span>
            </span>
          }

          <span class="link" (click)="openGDPR()">
            <span class="material-icons-outlined icon"> balance </span>
            <span class="label">Charte WINABAD</span>
          </span>
        </ng-container>
      }

      <span
        class="link logout"
        (click)="
          logout(
            data?.bets?.length || 0,
            data?.completedBets || 0,
            data?.better?.isAdmin || false
          )
        "
        ><span class="material-icons-outlined icon"> power_settings_new </span
        ><span class="label">Déconnexion</span></span
      >

      @if (!data.better.isAdmin) {
        <ng-container>
          <hr />
          @if (isBettingPhase(data.better.endBetDate || null)) {
            <span class="link" (click)="eraseBets(data?.better || null)">
              <span class="material-icons-outlined icon"> restart_alt </span>
              <span class="label">RAZ des pronostics</span>
            </span>
          }
          <span class="link" (click)="deleteAccount(data.better || null)">
            <span class="material-icons-outlined icon"> delete </span>
            <span class="label">Effacement du compte</span>
          </span>
        </ng-container>
      }
    </span>
  </ng-container>
}
