<table mat-table [dataSource]="(players$ | async) || []">
  <ng-container matColumnDef="winner">
    <th class="action" mat-header-cell *matHeaderCellDef>
      <span class="material-icons">emoji_events</span>
    </th>
    <td class="action" mat-cell *matCellDef="let player">
      <mat-icon
        *ngIf="(contest$ | async)?.isUpdatable"
        class="material-icons"
        color="primary"
        (click)="changePlayer(player.id, true)"
        >{{ iconLabel(player.id, true) }}</mat-icon
      >

      <mat-icon
        *ngIf="!(contest$ | async)?.isUpdatable && isChecked(player.id, true)"
        class="material-icons"
        >expand_circle_down</mat-icon
      >
    </td>
  </ng-container>

  <ng-container matColumnDef="runnerUp">
    <th class="action" mat-header-cell *matHeaderCellDef>
      <span class="material-icons">workspace_premium</span>
    </th>
    <td class="action" mat-cell *matCellDef="let player">
      <mat-icon
        *ngIf="(contest$ | async)?.isUpdatable"
        (click)="changePlayer(player.id, false)"
        color="primary"
        class="material-icons"
        >{{ iconLabel(player.id, false) }}</mat-icon
      >

      <mat-icon
        *ngIf="!(contest$ | async)?.isUpdatable && isChecked(player.id, false)"
        class="material-icons"
        >expand_circle_down</mat-icon
      >
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>
      <span class="player-header">
        {{ (contest$ | async)?.longName }} - {{ (category$ | async)?.longName }}
        <span *ngIf="(better$ | async)?.isAdmin" class="calculate">
          <mat-icon (click)="calculate()">calculate</mat-icon>
        </span>
      </span>
    </th>
    <td mat-cell *matCellDef="let player">
      {{ label(player, true) }}<br />{{ label(player, false) }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
