.action {
  padding: 0 0 0 7px;
  width: 1em;
}

.player-header {
  display: flex;
}

.calculate {
  margin-left: 1em;
}

.spinner-panel {
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

td,
th {
  vertical-align: middle;
}
