.action {
  padding: 0 0 0 0.5em;
  width: 1em;
}

.player-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.calculate {
  margin-left: 1em;
}

.spinner-panel {
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

td,
th {
  vertical-align: middle;
}

.grow {
  width: 100%;
}

.next-button {
  margin-left: 0.5em;
}
