@if (data$ | async; as data) {
  @if (isPlayerReverse === false) {
    <mat-table class="normal" [dataSource]="playersDisplayed">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="grow">
          <span class="player-header">
            {{ headerContestLabelDisplayed }} -
            {{ headerCategoryLabelDisplayed }}
            @if (data.better.isAdmin) {
              <span class="calculate link">
                <mat-icon (click)="calculate(data.bet || undefined)"
                  >calculate</mat-icon
                >
              </span>
            }
          </span>
        </th>

        <td mat-cell *matCellDef="let player">
          <span [class.bold]="isClubName">{{ firstPlayerLabel(player) }}</span>
          @if (isClubName) {
            <span><br />{{ firstPlayerClub(player) }}</span>
          }
          <br />
          <span [class.bold]="isClubName">{{ secondPlayerLabel(player) }}</span>
          @if (isClubName) {
            <span><br />{{ secondPlayerClub(player) }}</span>
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="winner">
        <th class="action" mat-header-cell *matHeaderCellDef>
          <span class="material-icons-outlined">emoji_events</span>
        </th>
        <td class="action" mat-cell *matCellDef="let player">
          @if ((contest$ | async)?.isUpdatable) {
            <mat-icon
              class="material-icons link"
              color="primary"
              (click)="changeWinner(player.id)"
              >{{ winnerIconLabel(data.bet || undefined, player.id) }}</mat-icon
            >
          }

          @if (
            !(contest$ | async)?.isUpdatable &&
            isWinnerChecked(data.bet || undefined, player.id)
          ) {
            <mat-icon class="material-icons">radio_button_checked</mat-icon>
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="runnerUp">
        <th class="action" mat-header-cell *matHeaderCellDef>
          <span class="material-icons">workspace_premium</span>
        </th>
        <td class="action" mat-cell *matCellDef="let player">
          @if ((contest$ | async)?.isUpdatable) {
            <mat-icon
              (click)="changeRunnerUp(player.id)"
              color="primary"
              class="material-icons link"
              >{{
                runnerUpIconLabel(data.bet || undefined, player.id)
              }}</mat-icon
            >
          }

          @if (
            !(contest$ | async)?.isUpdatable &&
            isRunnerUpChecked(data.bet || undefined, player.id)
          ) {
            <mat-icon class="material-icons">radio_button_checked</mat-icon>
          }
        </td>
      </ng-container>
      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns; sticky: false"
      ></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </mat-table>
  } @else {
    <mat-table class="player-reverse" [dataSource]="playersDisplayed">
      <ng-container matColumnDef="winner">
        <th class="action" mat-header-cell *matHeaderCellDef>
          <span class="material-icons-outlined">emoji_events</span>
        </th>

        <td class="action" mat-cell *matCellDef="let player">
          @if ((contest$ | async)?.isUpdatable) {
            <mat-icon
              class="material-icons link"
              color="primary"
              (click)="changeWinner(player.id)"
              >{{ winnerIconLabel(data.bet || undefined, player.id) }}</mat-icon
            >
          }

          @if (
            !(contest$ | async)?.isUpdatable &&
            isWinnerChecked(data.bet || undefined, player.id)
          ) {
            <mat-icon class="material-icons">radio_button_checked</mat-icon>
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="runnerUp">
        <th class="action" mat-header-cell *matHeaderCellDef>
          <span class="material-icons">workspace_premium</span>
        </th>

        <td class="action" mat-cell *matCellDef="let player">
          @if ((contest$ | async)?.isUpdatable) {
            <mat-icon
              (click)="changeRunnerUp(player.id)"
              color="primary"
              class="material-icons link"
              >{{
                runnerUpIconLabel(data.bet || undefined, player.id)
              }}</mat-icon
            >
          }

          @if (
            !(contest$ | async)?.isUpdatable &&
            isRunnerUpChecked(data.bet || undefined, player.id)
          ) {
            <mat-icon class="material-icons">radio_button_checked</mat-icon>
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="grow">
          <span class="player-header">
            {{ headerContestLabelDisplayed }} -
            {{ headerCategoryLabelDisplayed }}
            @if (data.better.isAdmin) {
              <span class="calculate link">
                <mat-icon (click)="calculate(data.bet || undefined)"
                  >calculate</mat-icon
                >
              </span>
            }
          </span>
        </th>

        <td mat-cell *matCellDef="let player">
          <span [class.bold]="isClubName">{{ firstPlayerLabel(player) }}</span>
          @if (isClubName) {
            <span><br />{{ firstPlayerClub(player) }}</span>
          }
          <br />
          <span [class.bold]="isClubName">{{ secondPlayerLabel(player) }}</span>
          @if (isClubName) {
            <span><br />{{ secondPlayerClub(player) }}</span>
          }
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumnsReverse; sticky: false"
      ></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsReverse"></tr>
    </mat-table>
  }
}
