.action {
  padding: 0 0 0 0.25em;
  width: 1em;
}

.player-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.calculate {
  margin-left: 1em;
}

td,
th {
  vertical-align: middle;
}

.grow {
  width: 100%;
}

.bold {
  font-weight: bold;
}

::-webkit-scrollbar {
  display: none;
}

.normal {
  .mdc-data-table__cell,
  .mdc-data-table__header-cell {
    padding: 0 0.5em;
  }
}

.player-reverse {
  .mdc-data-table__cell,
  .mdc-data-table__header-cell {
    padding: 0 0.25em;
  }
}
