<ng-container *ngIf="{ bet: bet$ | async, better: better$ | async } as data">
  <div>
    <mat-checkbox [(ngModel)]="withClubName"
      >Afficher le nom des clubs
    </mat-checkbox>
  </div>

  <mat-table
    [dataSource]="playersDisplayed"
    [@fadeAnimation]="isHiding ? 'hide' : 'show'"
    (@fadeAnimation.done)="animationDone($event)"
  >
    <ng-container matColumnDef="winner">
      <th class="action" mat-header-cell *matHeaderCellDef>
        <span class="material-icons">emoji_events</span>
      </th>
      <td class="action" mat-cell *matCellDef="let player">
        <mat-icon
          *ngIf="(contest$ | async)?.isUpdatable"
          class="material-icons"
          color="primary"
          (click)="changeWinner(player.id)"
          >{{ winnerIconLabel(data.bet || undefined, player.id) }}</mat-icon
        >

        <mat-icon
          *ngIf="
            !(contest$ | async)?.isUpdatable &&
            isWinnerChecked(data.bet || undefined, player.id)
          "
          class="material-icons"
          >expand_circle_down</mat-icon
        >
      </td>
    </ng-container>

    <ng-container matColumnDef="runnerUp">
      <th class="action" mat-header-cell *matHeaderCellDef>
        <span class="material-icons">workspace_premium</span>
      </th>
      <td class="action" mat-cell *matCellDef="let player">
        <mat-icon
          *ngIf="(contest$ | async)?.isUpdatable"
          (click)="changeRunnerUp(player.id)"
          color="primary"
          class="material-icons"
          >{{ runnerUpIconLabel(data.bet || undefined, player.id) }}</mat-icon
        >

        <mat-icon
          *ngIf="
            !(contest$ | async)?.isUpdatable &&
            isRunnerUpChecked(data.bet || undefined, player.id)
          "
          class="material-icons"
          >expand_circle_down</mat-icon
        >
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="grow">
        <span class="player-header">
          {{ headerLabelDisplayed }}
          <span *ngIf="(better$ | async)?.isAdmin" class="calculate">
            <mat-icon
              (click)="
                calculate(data.better || undefined, data.bet || undefined)
              "
              >calculate</mat-icon
            >
          </span>
          <span>
            <button
              mat-flat-button
              class="next-button"
              (click)="gotoNextCategory(data.bet || undefined)"
            >
              <span class="material-icons-outlined">double_arrow</span>
            </button>
          </span>
        </span>
      </th>
      <td mat-cell *matCellDef="let player">
        <span *ngIf="withClubName">
          {{ firstPlayerRanking(player) }} - <b>{{ firstPlayerName(player) }}</b
          >&nbsp;({{ firstPlayerClub(player) }})
          <br />
          {{ secondPlayerRanking(player) }} -
          <b>{{ secondPlayerName(player) }}</b
          >&nbsp;({{ firstPlayerClub(player) }})
        </span>
        <span *ngIf="!withClubName">
          {{ firstPlayerRanking(player) }} - {{ firstPlayerName(player) }}
          <br />
          {{ secondPlayerRanking(player) }} - {{ secondPlayerName(player) }}
        </span>
      </td>
    </ng-container>

    <div>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </div>
  </mat-table>
</ng-container>
