.close {
  width: 100%;
  margin-block: 1em;
  text-align: center;
}

.about-nav {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: center;
  font-weight: 800;
  margin-bottom: 1em;
  font-size: 1.2em;
}

.about-panel {
  display: flex;
  flex-direction: column;
  text-align: center;

  p {
    line-height: 2em;
  }
}

.icon {
  display: flex;
  width: 100%;
  max-width: 32px;
  margin-bottom: 0.25em;
}

.icon-small {
  width: 100%;
  max-width: 4em;
}

.icon-large {
  width: 100%;
  max-width: 80px;
}

.logo-panel {
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo-row {
    display: flex;
    flex-direction: row;
  }

  .logo {
    display: flex;
    width: 120px;
    height: 90px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.social-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 3em;

  .logo-row {
    display: flex;
    justify-content: space-evenly;

    .social {
      display: flex;
      width: 120px;
      flex-direction: column;
      align-items: center;

      .logo {
        width: 1.5em;
        height: 1.5em;
        margin-bottom: 0.25em;
      }
    }
  }
}

.credits-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;

  .names {
    display: flex;
    width: 90%;
    font-size: 0.9em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2em;

    .name {
      padding-block: 0.5em;
    }

    .name:after {
      content: "";
      display: inline-block;
      margin-right: 0.75em;
    }

    .name:last-child:after {
      content: "";
      display: inline-block;
      margin-inline: 0;
    }
  }
}
