<div class="tutorial-panel">
  <h2>Bienvenue sur Winabad</h2>
  <p>
    Bienvenue sur Winabad, le concours de pronostics organisé par le club
    d'Istres Sports Badminton pour son tournoi annuel.
  </p>

  <p>
    Le jeu consiste à trouver le vainqueur et le finaliste de chaque série (ou
    le premier et le deuxième pour les poules uniques).
  </p>

  <p>
    Les pronostics portent sur les doubles hommes et dames le samedi 8 ; sur les
    doubles mixtes le dimanche 9. En cas d'égalité, nous prendrons en compte un
    pronostic bonus sur le temps du match le plus long de la journée.
  </p>

  <p>L'écran de pronostic contient trois parties.</p>

  <p>
    En haut les catégories (DH et DD le samedi, DM le dimanche) et leurs séries
    (de S1 à Sn). Cliquez sur les noms des séries pour passer de l'une à
    l'autre.
  </p>

  <div class="centered">
    <img
      src="assets/img/tutorial/contests.png"
      alt="Image des catégories et des séries"
    />
  </div>
  <p>
    En-dessous, la jauge de sélection de la durée du match le plus long (allant
    de 30 à 120 minutes).
  </p>
  <div class="centered">
    <img
      src="assets/img/tutorial/duration.png"
      alt="Durée du match le plus long"
    />
  </div>
  <p>En-bas, La liste des joueurs par série.</p>
  <div class="centered">
    <img src="assets/img/tutorial/players.png" alt="" />
  </div>

  <p>
    Choisissez le vainqueur et le finaliste en cliquant dans la première ou la
    deuxième colonne du tableau.
  </p>

  <h4>Bons pronostics et merci pour votre participation.</h4>
  <div class="centered">
    <button mat-flat-button color="primary" (click)="close()">
      Aller aux pronostics
    </button>
  </div>
</div>
