<ng-container *ngIf="{ better: better$ | async } as data">
  <h2 mat-dialog-title>Paramètres</h2>

  <mat-dialog-content style="height: calc(100% - 6em)">
    <span class="setting-row" (click)="toggleWithClubName(data.better || null)">
      <mat-slide-toggle
        [checked]="data?.better?.setting?.withClubName"
      ></mat-slide-toggle>
      <span class="text-area">
        <span class="title">Nom des clubs</span>
        <span class="detail">Affiche le nom des clubs</span>
      </span>
    </span>

    <span
      class="setting-row"
      (click)="toggleAutoNavigation(data.better || null)"
    >
      <mat-slide-toggle
        [checked]="data?.better?.setting?.isAutoNavigation"
      ></mat-slide-toggle>
      <span class="text-area">
        <span class="title">Navigation automatique</span>
        <span class="detail">Affiche la série suivante automatiquement</span>
      </span>
    </span>

    <span
      class="setting-row"
      (click)="togglePlayerReverse(data.better || null)"
    >
      <mat-slide-toggle
        [checked]="data?.better?.setting?.isPlayerReverse"
      ></mat-slide-toggle>
      <span class="text-area">
        <span class="title">Joueurs à droite</span>
        <span class="detail">Affiche le nom des joueurs à droite</span>
      </span>
    </span>

    <span class="setting-row" (click)="toggleDarkMode(data.better || null)">
      <mat-slide-toggle
        [checked]="data?.better?.setting?.isDarkMode"
      ></mat-slide-toggle>
      <span class="text-area">
        <span class="title">Mode sombre</span>
        <span class="detail">Active le mode sombre</span>
      </span>
    </span>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button
      mat-raised-button
      color="primary"
      (click)="close(data.better || null)"
      cdkFocusInitial
    >
      Fermer
    </button>
  </mat-dialog-actions>
</ng-container>
