.duration-panel {
  display: flex;
  flex-direction: column;
}

.duration-label {
  margin-left: 0.25em;
}

.duration {
  display: flex;
  justify-content: center;
}

.duration-slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
}

.highlight {
  background-color: rgba(0, 0, 0, 0.3);
}
