<div class="duration-panel">
  <span
    class="duration-title"
    [class]="{ 'compact-mode': isDurationCompactMode }"
    (click)="toggleDurationCompactMode()"
  >
    <span class="label"
      >Match le plus long : {{ (duration$ | async)?.duration }} minutes</span
    >
    <span>
      <span class="material-icons-outlined">
        {{ durationCompactModeIcon }}
      </span>
    </span>
  </span>

  <div class="duration">
    <mat-slider
      *ngIf="!isDurationCompactMode"
      max="120"
      min="30"
      step="1"
      discrete="true"
      [disabled]="!(duration$ | async)?.isDurationUpdatable"
      class="duration-slider"
    >
      <input
        matSliderThumb
        (valueChange)="changeDuration($event)"
        [ngModel]="(duration$ | async)?.duration"
        class="duration-slider"
      />
    </mat-slider>
  </div>
</div>
