.duration-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 370px;
  margin-left: 0.5em;
}

.duration-label {
  white-space: nowrap;
}

.duration-slider {
  min-width: 250px;
  max-width: 250px;
}
