@if (duration$ | async; as duration) {
  <div class="duration-panel">
    <span
      class="duration-title link"
      [class]="{ 'compact-mode': isDurationCompactMode }"
      (click)="toggleDurationCompactMode()"
    >
      <span class="label"
        >Match le plus long : {{ duration.duration }} minutes</span
      >
      <span>
        <span class="material-icons-outlined">
          {{ durationCompactModeIcon }}
        </span>
      </span>
    </span>

    <div class="duration">
      @if (!isDurationCompactMode) {
        <mat-slider
          min="30"
          max="120"
          step="1"
          discrete="false"
          [disabled]="!duration.isDurationUpdatable"
          class="duration-slider"
        >
          <input
            matSliderThumb
            class="duration-slider"
            (valueChange)="changeDuration($event)"
            [value]="duration.duration"
          />
        </mat-slider>
      }
    </div>
  </div>
}
