.duration-container {
  display: flex;
  flex-direction: column;
  max-width: 370px;
  margin-left: 0.5em;
}

.duration-slider {
  display: flex;
  align-items: center;
  margin-left: 0;
  margin-right: 0.5em;
}
