.create-better {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.create-better-panel {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-color: #dadce0;
  border-width: 1px;
  border-style: solid;

  border-radius: 8px;

  background-color: white;
}

.create-button {
  margin-bottom: 0.7em;
}

.back {
  margin-bottom: 0.7em;
  text-decoration: underline;
}

.contact {
  font-size: 0.9em;
}

.sponsoring {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100px;
  position: absolute;
  bottom: 0;

  .isb {
    display: flex;
    width: 50%;
    background: url("/assets/img/isb.png") no-repeat;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 75%;
  }

  .phocea {
    display: flex;
    width: 50%;
    background-image: url("/assets/img/phocea-light.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 75%;
  }
}
