.create-better-panel {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.create-better-card {
  display: flex;
  width: 90vw;
  margin-top: 1em;
  flex-direction: column;
  align-items: center;
}

.hint {
  font-size: 0.75em;
}

.create-button {
  margin-bottom: 0.7em;
}

.back {
  margin-bottom: 0.7em;
  text-decoration: underline;
}

.contact {
  font-size: 0.9em;
}

.mat-mdc-form-field {
  min-width: 18.125em;
}
