.create-better-panel {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  margin-top: 0.5em;
  align-items: center;
  text-align: center;
}

.create-better-card {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-color: #dadce0;
  border-width: 0.125em;
  border-style: solid;

  border-radius: 0.5em;

  background-color: white;
}

.hint {
  font-size: 0.75em;
}

.create-button {
  margin-bottom: 0.7em;
}

.back {
  margin-bottom: 0.7em;
  text-decoration: underline;
}

.contact {
  font-size: 0.9em;
}

.mat-mdc-form-field {
  min-width: 18.125em;
}
