<div class="create-better-panel">
  <div class="create-better-card">
    <h2>Créer un compte WINABAD</h2>

    <form [formGroup]="formGroup">
      <mat-form-field
        hideRequiredMarker="true"
        appearance="outline"
        floatLabel="always"
      >
        <mat-label>Nom</mat-label>
        <input
          matInput
          type="text"
          formControlName="name"
          required
          autocomplete="on"
          (input)="upperCase($event)"
        />
      </mat-form-field>
      <br />

      <mat-form-field
        hideRequiredMarker="true"
        appearance="outline"
        floatLabel="always"
      >
        <mat-label>Prénom</mat-label>
        <input
          matInput
          type="text"
          formControlName="firstName"
          required
          autocomplete="on"
        />
      </mat-form-field>
      <br />

      <mat-form-field
        hideRequiredMarker="true"
        appearance="outline"
        floatLabel="always"
      >
        <mat-label>Code à 4 chiffres</mat-label>
        <input
          matInput
          [type]="passwordVisibility ? 'text' : 'password'"
          formControlName="password"
          required
          autocomplete="on"
          minlength="4"
          maxlength="4"
          (input)="checkPassword($event)"
        />
        @if (!passwordVisibility) {
          <mat-icon matSuffix (click)="toggleVisibility()"
            >visibility_off</mat-icon
          >
        }
        @if (passwordVisibility) {
          <mat-icon matSuffix (click)="toggleVisibility()">visibility</mat-icon>
        }
      </mat-form-field>
      <br />

      <mat-form-field
        hideRequiredMarker="true"
        appearance="outline"
        floatLabel="always"
      >
        <mat-label>Mail / N° de téléphone</mat-label>
        <input
          matInput
          type="text"
          maxlength="200"
          formControlName="contact"
          required
          autocomplete="on"
        />
      </mat-form-field>
      <br />

      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Club (facultatif)</mat-label>
        <input matInput type="text" formControlName="club" />
      </mat-form-field>
    </form>

    <span class="accept-panel">
      <span class="accept-row">
        <span class="checkbox-area"
          ><mat-checkbox [checked]="hasMajority" required></mat-checkbox
        ></span>
        <span class="label">Je certifie avoir 18 ans ou plus</span>
      </span>

      <span class="accept-row">
        <span class="checkbox-area">
          <mat-checkbox [checked]="hasGDPRAccepted"> </mat-checkbox>
        </span>
        <span class="label">J'accepte la Charte WINABAD</span>
      </span>

      <span class="accept-row">
        <span class="checkbox-area"> </span>
        <span class="label"
          ><a (click)="openGDPR()" class="read-gdpr"
            >Consulter la Charte WINABAD</a
          ></span
        >
      </span>
    </span>

    <button
      mat-raised-button
      color="primary"
      class="create-button"
      (click)="createBetter()"
      [disabled]="createBetterDisabled"
    >
      Créer le compte
    </button>

    <a class="back" (click)="back()">Revenir</a>
  </div>
</div>
